@import "tailwindcss";

@font-face {
  font-family: "Gandom";
  src: url("/fonts/gandom/v0.8/Gandom.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@theme {
  --font-sans: "Gandom", Tahoma, Arial, sans-serif;
  --color-bg: #f0f0f0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.active {
  @apply outline outline-gray-400 font-bold;
}
